*.pyc
.DS_Store
.cache
.coverage*
.env
.idea
.project
.pydevproject
.swp
.vagrant
/static
Procfile
__pycache__
anenv
ansible.cfg
ansible/*.retry
ansible/env
ansible/vault.key
coverage.xml
coverage_html_report
docs/_build/
history.txt
junit.xml
node_modules
npm-debug.log
package-lock.json
public/
test-reports/
tnt.egg-info
tnt.sql
tnt/web/admin/templates
tnt/web/frontend/patterns/patternIncludeMap.json
ubuntu-xenial-16.04-cloudimg-console.log
yarn-error.log
dist
